<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Payment Succeeded</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <style>
        .container {
            font-family: "Noto Sans", "Open Sans", sans-serif;
            margin: 0 auto;
            max-width: 920px;
            max-width: 40rem;
            padding: 4rem;
        }

        h1 {
            font-size: 1.8rem;
        }

        @media (max-width: 600px) {
            .container {
                padding: 12px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <h1>Payment Succeeded</h1>
    </header>

    <main>
        <p>You should receive a receipt via the email address you provided during payment.</p>
        <p>You may now close this window.</p>
    </main>
</div>
</body>
</html>