<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Payment Failed</title>
    <style>
        .container {
            font-family: "Noto Sans", "Open Sans", sans-serif;
            margin: 0 auto;
            max-width: 920px;
            max-width: 40rem;
            padding: 4rem;
        }

        h1 {
            font-size: 1.8rem;
        }

        @media (max-width: 600px) {
            .container {
                padding: 12px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <h1>Payment Failed</h1>
    </header>

    <main>
        <p>The payment was not successful. Please ensure that your card is not over its limit or otherwise disabled, and try again.</p>
        <p>If problems persist, please contact the provider of the invoice for assistance.</p>
    </main>
</div>
</body>
</html>